mixin about(modifier)
  section.about&attributes(attributes)
    ul.about__list
      li.about__item
        img.about__icon(src="img/about-icon1.png", alt="")
        p.about__text Fundraising $8.2 million investors to a new startup
      li.about__item
        img.about__icon(src="img/about-icon2.png", alt="")
        p.about__text 10+ years work experience with clients
      li.about__item
        img.about__icon(src="img/about-icon3.png", alt="")
        p.about__text Created over 5,000 slides
      li.about__item
        img.about__icon(src="img/about-icon4.png", alt="")
        p.about__text Top Rater on service exchanges