include ../blocks/header/header.pug
include ../blocks/welcome/welcome.pug
include ../blocks/about/about.pug
include ../blocks/service/service.pug
include ../blocks/services/services.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/slide/slide.pug
