.p-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 120px 0;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    padding-bottom: 20px;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  &__title {
    max-width: 850px;
    background: linear-gradient(90.00deg, #515267 ,#DF1B36);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: px-to-em(32);
    line-height: lh-to-pct(48, 32);
    font-weight: 800;
    text-transform: uppercase;
  }
  &__discuss-btn {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: 12px;
    padding: 12px 30px;
    background-color: #515267;
    border: 2px solid #515267;
    border-radius: 0px 22.5px 0px 22.5px;
    box-shadow: 0px 4px 9px 1px rgba(252, 252, 252, 0.4);
    font-size: px-to-em(16);
    font-weight: 900;
    text-decoration: none;
    color: #FCFCFC;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: transparent;
      color: #515267;
      path {
        fill: #515267;
      }
    }
  }
  .swiper-slide {
    padding: 6px;
  }
  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 20px 0;
  }
  &__nav-btn {
    cursor: pointer;
    &:hover {
      path {
        fill: #DF1B36;
      }
    }
  }
  @media screen and (max-width: 1399.98px) {
    &__title {
      font-size: px-to-em(24);
    }
  }
  @media screen and (max-width: 1199.98px) {
    padding: 100px 80px 0;
  }
  @media screen and (max-width: 767.98px) {
    padding: 80px 60px 0;
    &__heading {
      padding-bottom: 12px;
    }
    &__title {
      font-size: px-to-em(20);
    }
    &__discuss-btn {
      padding: 10px 24px;
      font-size: px-to-em(12);
      svg {
        width: 18px;
        height: 18px;
      }
    }
    &__navigation {
      column-gap: 16px;
      padding: 12px 0 0;
    }
  }
  @media screen and (max-width: 575.98px) {
    padding: 60px 12px 0;
    &__heading {
      flex-direction: column;
      row-gap: 10px;
      padding: 0 6px 12px;
    }
    &__title {
      font-size: px-to-em(16);
      text-align: center;
    }
    &__discuss-btn {
      padding: 8px 20px;
      font-size: px-to-em(12);
      svg {
        width: 14px;
        height: 14px;
      }
    }
    &__navigation {
      column-gap: 10px;
      padding: 8px 0 0;
    }
  }
}
