.service {
  display: flex;
  flex-direction: column;
  &__area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 28px 80px;
    border-radius: 40px 0px 40px 0px;
    background-color: #515267;
    height: 100%;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__content {
    align-self: flex-end;
    max-width: 470px;
    text-align: right;
  }
  &__title {
    margin-bottom: 12px;
    font-size: px-to-em(26);
    line-height: lh-to-pct(38, 26);
    font-weight: 800;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  &__text {
    font-size: px-to-em(16);
    line-height: lh-to-pct(24, 16);
    font-weight: 400;
    color: #fcfcfc;
  }
  &__link {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: -40px 0 0;
    padding: 16px 0;
    border-radius: 40px 0px 40px 0px;
    background-color: #DF1B36;
    border: 3px solid #DF1B36;
    font-size: px-to-em(26);
    line-height: lh-to-pct(38, 26);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fcfcfc;
  }
  @media screen and (min-width: 992px) {
    &__link:hover {
      background-color: #fcfcfc;
      border-color: #515267;
      color: #515267;
    }
  }
  @media screen and (max-width: 1399.98px) {
    &__content {
      max-width: 400px;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__content {
      max-width: 360px;
    }
    &__title {
      font-size: px-to-em(20);
    }
    &__text {
      font-size: px-to-em(14);
    }
    &__link {
      font-size: px-to-em(18);
    }
  }
  @media screen and (max-width: 991.98px) {
    margin-bottom: 12px;
    &__content {
      max-width: 80%;
    }
    &:nth-of-type(n+3) {
      visibility: hidden;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      margin-bottom: 0;
    }
    &--open {
      &:nth-of-type(n+3) {
        max-height: 300px;
        visibility: visible;
        overflow: none;
        opacity: 1;
        margin-bottom: 12px;
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    &__area {
      padding: 20px 10px 60px;
    }
    &__title {
      margin-bottom: 6px;
      font-size: px-to-em(14);
    }
    &__text {
      font-size: px-to-em(10);
    }
    &__link {
      padding: 12px 0;
      font-size: px-to-em(14);
    }
  }
  @media screen and (max-width: 359.98px) {
    &__text {
      font-size: px-to-em(8);
    }
  }
}
